:root{
    --body_bg: #141414;
    --white: #ffffff;
}

body{
    background-color: var(--body_bg);
    color: var(--white);
     
}

.movie-app > .row {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.input_search{
    background-color: rgba(0, 0, 0, .1);
    color: var(--white) !important;
}

.input_search:focus{
    outline: none;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 4px #ccc;
    border: 1px solid #ccc;
}

.search-btn{
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    cursor: pointer;
}

.search-btn:hover{
    color: var(--white);
    background-color: rgba(231, 230, 230, 0.863);
}