:root{
    --body_bg: #141414;
    --white: #ffffff;
}

body{
    background-color: var(--body_bg);
    color: var(--white);
     
}

.movie-app > .row {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.input_search{
    background-color: rgba(0, 0, 0, .1);
    color: var(--white) !important;
}

.input_search:focus{
    outline: none;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 4px #ccc;
    border: 1px solid #ccc;
}

.search-btn{
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    cursor: pointer;
}

.search-btn:hover{
    color: var(--white);
    background-color: rgba(231, 230, 230, 0.863);
}

/* overlay "Add to favorite" */

.image-container{
    position: relative;
    transition: transform .2s;
}

.image-container:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.image-container:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    min-width: 100%;
    opacity: 0;
    transition: .5s ease;
    font-size: 1rem;
    padding: 1.25rem;
    text-align: center;
}
