:root{
    --body_bg: #141414;
    --white: #ffffff;
}

body{
    background-color: var(--body_bg);
    color: var(--white);
     
}

.movie-app > .row {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}